<configuration>

    <!-- Define properties from application.properties if needed -->
    <springProperty name="LOG_LEVEL_ROOT" source="logging.level.root" defaultValue="INFO" />
    <springProperty name="CONSOLE_THRESHOLD" source="logging.level.console" defaultValue="ERROR" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./data/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./data/logs/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>16MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <root level="${LOG_LEVEL_ROOT}">
        <appender-ref ref="CONSOLE" />
        <!-- <appender-ref ref="FILE" /> -->
    </root>

</configuration>