openapi: 3.1.0
info:
  title: Ambient Weather REST API
  version: 1.0.0
  description: >
    OpenAPI spec for Ambient Weather's REST API. Authentication requires both `applicationKey` and `apiKey` query parameters. Limit to 1 request per second.
  contact:
    name: Documentation
    url: https://ambientweather.docs.apiary.io

servers:
  - url: https://api.ambientweather.net/v1

tags:
- name: Ambient Weather
  description: Devices and weather data.

components:
  securitySchemes:
    AppKeyAuth:
      type: apiKey
      in: query
      name: applicationKey
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey

  schemas:
    Device:
      type: object
      properties:
        macAddress:
          type: string
        info:
          $ref: "#/components/schemas/DeviceInfo"
        lastData:
          $ref: "#/components/schemas/DeviceData"
    DeviceInfo:
      type: object
      properties:
        name:
          type: string
        coords:
          type: object
          properties:
            coords:
              type: object
              properties:
                lat:
                  type: number
                  format: double
                lon:
                  type: number
                  format: double
            address:
              type: string
            address_components:
              type: array
              description: Structured address parts (Google Maps style)
              items:
                type: object
                properties:
                  long_name:
                    type: string
                  short_name:
                    type: string
                  types:
                    type: array
                    items:
                      type: string
            location:
              type: string
            elevation:
              type: number
              format: double
            geo:
              type: object
              properties:
                type:
                  type: string
                  example: Point
                coordinates:
                  type: array
                  items:
                    type: number
                  description: "[longitude, latitude]"
    DeviceData:
      type: object
      properties:
        tz:
          type: string
          description: Timezone of the station
        date:
          type: string
          format: date-time
          description: ISO8601 timestamp of the reading
        dateutc:
          type: integer
          description: Epoch timestamp in milliseconds
        tempf:
          type: number
          format: double
          description: Outdoor temperature (°F)
        humidity:
          type: integer
          description: Outdoor humidity (%)
        winddir:
          type: integer
          description: Wind direction (degrees)
        winddir_avg10m:
          type: integer
          description: Wind direction (degrees), 10 min average
        windspeedmph:
          type: number
          format: double
          description: Wind speed (mph)
        windgustmph:
          type: number
          format: double
          description: Wind gust (mph)
        maxdailygust:
          type: number
          format: double
          description: Max daily wind gust (mph)
        hourlyrainin:
          type: number
          format: double
          description: Rainfall in the last hour (inches)
        dailyrainin:
          type: number
          format: double
          description: Rainfall today (inches)
        weeklyrainin:
          type: number
          format: double
          description: Rainfall this week (inches)
        monthlyrainin:
          type: number
          format: double
          description: Rainfall this month (inches)
        yearlyrainin:
          type: number
          format: double
          description: Rainfall this year (inches)
        totalrainin:
          type: number
          format: double
          description: Lifetime rainfall (inches)
        baromrelin:
          type: number
          format: double
          description: Relative pressure (inHg)
        baromabsin:
          type: number
          format: double
          description: Absolute pressure (inHg)
        tempinf:
          type: number
          format: double
          description: Indoor temperature (°F)
        humidityin:
          type: number
          format: double
          description: Indoor humidity (%)
        uv:
          type: number
          format: double
          description: UV index
        solarradiation:
          type: number
          format: double
          description: Solar radiation (W/m²)
        feelsLike:
          type: number
          format: double
          description: Feels-like temperature (°F)
        dewPoint:
          type: number
          format: double
          description: Dew point (°F)
        lastRain:
          type: string
          format: date-time
          description: Timestamp of last rain event
      additionalProperties: true

security:
  - ApiKeyAuth: []
  - AppKeyAuth: []

paths:
  /devices:
    get:
      tags:
        - Ambient Weather
      summary: List devices information
      operationId: getDevices
      description: Returns all devices associated with the given API key.
      security:
        - ApiKeyAuth: []
        - AppKeyAuth: []
      responses:
        "200":
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Device"

  /devices/{macAddress}:
    get:
      tags:
      - Ambient Weather
      summary: Get device's weather data
      operationId: getDeviceData
      description: Get weather date for the given device.
      parameters:
        - name: macAddress
          in: path
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 288
      responses:
        "200":
          description: Array of device data points
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceData"